mysql-cluster/master/
mysql-cluster/slave/

nacos_cluster/standalone-example/grafana/
nacos_cluster/standalone-example/logs/
nacos_cluster/standalone-example/mysql/


nginx/html/
nginx/conf/
nginx/logs/

redis/data/
redis/logs/

verdaccio/config/
verdaccio/plugins/
verdaccio/settings/

